<!-- Blog Main SECTION -->
<section class="page-banner">
  <h1>Gist</h1>
</section>
<!-- MINI NAV  -->
<div class="sub-nav-wrapper">
  <nav class="sub-nav">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#/blogposts/">GISTS</a></li>
      <li>{{vm.blogpost.title}}</li>
    </ul>
  </nav>
  <div class="share-social-icons">
    <p>Share</p>
    <ul>
      <li><a class="icon-twitter" href="#"></a></li>
      <li><a class="icon-facebook" href="#"></a></li>
      <li><a class="icon-google" href="#"></a></li>
      <li><a class="icon-pinterest" href="#"></a></li>
    </ul>
  </div>
</div>


<section class="blog-container">
<!--   <h1>Single Blogpost!</h1> -->
	<article class="blog-summary">
		<img src="{{ gist.owner.avatar_url }}" alt="Alina's big face">
    <h1>{{ gist.description }}</h1>
    <p><a class="link-original-view" href="{{gist.html_url}}">View Original</a></p>
		<p>Content: {{ }}</p>
    <ul class="blog-metadata">
			<li>Gist login: {{ gist.owner.login }}</li>
			<li class="date">Created on: {{ gist.created_at | date:"MM-dd-yyyy" }}</li>
			<li>{{ gist.comments }} Comments</li>
      <ul>
        <p>Filename(s):</p>
        <li ng-repeat="file in gist.files">
          {{file.filename}}
        </li>
      </ul>
      <ul>
        <p>Language(s):</p>
        <li ng-repeat="file in gist.files">
          {{file.language}}
        </li>
      </ul>
    </ul>
    <a class="btn-primary" href="#/gists/">View All</a>
    <a class= "btn-small" href="#/blogposts/{{vm.blogpost._id}}/edit">Edit</a>
  </article>
</section>
