<section class="page-banner">
  <h1>Add or Edit A Blogpost</h1>
</section>

<!-- MINI NAV  -->
<div class="sub-nav-wrapper">
  <nav class="sub-nav">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">BLOG</a></li>
      <li>Add/Edit</li>
    </ul>
  </nav>
  <div class="share-social-icons">
    <p>Share</p>
    <ul>
      <li><a class="icon-twitter" href="#"></a></li>
      <li><a class="icon-facebook" href="#"></a></li>
      <li><a class="icon-google" href="#"></a></li>
      <li><a class="icon-pinterest" href="#"></a></li>
    </ul>
  </div>
</div>
<!-- Form -->
<form name="gistForm" ng-submit="vm.save()" ng-controller="GistFormCtrl">
  Gist Description
  <input type="text" ng-model="vm.gist.description" placeholder="Description">{{vm.gist.description}}</input>

  <input type="text" ng-model="vm.newContent">

  <textarea type="text" ng-model="vm.gist.files" placeholder="Content">Gist Files</textarea>
  <input type="checkbox" ng-model="vm.gist.public" value="Public">Public</input>
  <input type="text" ng-model="vm.gist.owner.login" placeholder="Author">Gist Username</input>
  <input type="date" ng-model="vm.gist.created_at" placeholder="Date">Date</input>
  <input class="btn-primary-alt" type="submit" name="Submit">
</form>
