@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?xktnuc');
  src:url('fonts/icomoon.eot?xktnuc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xktnuc') format('truetype'),
    url('fonts/icomoon.woff?xktnuc') format('woff'),
    url('fonts/icomoon.svg?xktnuc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Ubuntu Light
@font-face {
  font-family: 'Ubuntu-Light';
  src:url('fonts/Ubuntu-L.ttf');
  font-weight: normal;
}

//Ubuntu Light Italic
@font-face {
  font-family: 'Ubuntu-Light-Italic';
  src:url('fonts/Ubuntu-LI.ttf');
  font-weight: normal;
  font-style: normal;
}


// Ubuntu Regular
@font-face {
  font-family: 'Ubuntu-Regular';
  src:url('fonts/Ubuntu-R.ttf');
  font-weight: normal;
  font-style: normal;
}

// Ubuntu Medium
@font-face {
  font-family: 'Ubuntu-Medium';
  src:url('fonts/Ubuntu-M.ttf');
  font-weight: normal;
  font-style: normal;
}

//Ubuntu Bold
@font-face {
  font-family: 'Ubuntu-Bold';
  src:url('fonts/Ubuntu-B.ttf');
  font-weight: normal;
  font-style: normal;
}

//RobotoSlab Light
@font-face {
  font-family: 'RobotoSlab-Light';
  src:url('fonts/RobotoSlab-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

//RobotoSlab Regular
@font-face {
  font-family: 'RobotoSlab-Regular';
  src:url('fonts/RobotoSlab-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
