
form {
  text-align: center;
  padding: 1em;
  @media screen and (min-width: 50em) {

  }
  h1 {
    font-family: font-family('primary', 'regular');
    font-size: font-size($key: 'medium');
  }
  textarea {
    margin: 1em auto;
    padding: 1em;
    width: 20em;
    height: 10em;
    display: block;
    font-family: font-family('primary', 'light');
    font-size: font-size('small');
    @media screen and (min-width: 50em) {
      width: 40em;
      height: 15em;
      border: .1em solid #ddd;
      border-radius: em(4);
      &:focus {
        outline-color: color('accent');
        outline-style: solid;
        outline-width: .25em;
      }
    }
  }
  input {
    padding: 1em;
    width: 20em;
    display: block;
    margin: 1em auto;
    font-family: font-family('primary', 'light');
    font-size: font-size('small');
    @media screen and (min-width: 50em) {
      border: .1em solid #ddd;
      border-radius: em(4);
      &:focus {
        outline-color: color('accent');
        outline-style: solid;
        outline-width: .25em;
      }
    }
  }
  // input[type="submit"] {
  //   border: none;
  //   padding: 1em;
  //   width: 20em;
  //   display: block;
  //   margin: 1em auto;
  //   color: color($key: 'base');
  //   &:hover {
  //     background-color: color($key: 'accent');
  //     cursor: pointer;
  //   }
  // }
}
