@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?i0yotl');
	src:url('fonts/icomoon.eot?i0yotl#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?i0yotl') format('truetype'),
		url('fonts/icomoon.woff?i0yotl') format('woff'),
		url('fonts/icomoon.svg?i0yotl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sunrise:before {
	content: "\e800";
}
.icon-sun:before {
	content: "\e801";
}
.icon-moon:before {
	content: "\e802";
}
.icon-sun2:before {
	content: "\e803";
}
.icon-windy:before {
	content: "\e804";
}
.icon-wind:before {
	content: "\e805";
}
.icon-snowflake:before {
	content: "\e806";
}
.icon-cloudy:before {
	content: "\e807";
}
.icon-cloud:before {
	content: "\e808";
}
.icon-weather:before {
	content: "\e809";
}
.icon-weather2:before {
	content: "\e80a";
}
.icon-weather3:before {
	content: "\e80b";
}
.icon-lines:before {
	content: "\e80c";
}
.icon-cloud2:before {
	content: "\e80d";
}
.icon-lightning:before {
	content: "\e80e";
}
.icon-lightning2:before {
	content: "\e80f";
}
.icon-rainy:before {
	content: "\e810";
}
.icon-rainy2:before {
	content: "\e811";
}
.icon-windy2:before {
	content: "\e812";
}
.icon-windy3:before {
	content: "\e813";
}
.icon-snowy:before {
	content: "\e814";
}
.icon-snowy2:before {
	content: "\e815";
}
.icon-snowy3:before {
	content: "\e816";
}
.icon-weather4:before {
	content: "\e817";
}
.icon-cloudy2:before {
	content: "\e818";
}
.icon-cloud3:before {
	content: "\e819";
}
.icon-lightning3:before {
	content: "\e81a";
}
.icon-sun3:before {
	content: "\e81b";
}
.icon-moon2:before {
	content: "\e81c";
}
.icon-cloudy3:before {
	content: "\e81d";
}
.icon-cloud4:before {
	content: "\e81e";
}
.icon-cloud5:before {
	content: "\e81f";
}
.icon-lightning4:before {
	content: "\e820";
}
.icon-rainy3:before {
	content: "\e821";
}
.icon-rainy4:before {
	content: "\e822";
}
.icon-windy4:before {
	content: "\e823";
}
.icon-windy5:before {
	content: "\e824";
}
.icon-snowy4:before {
	content: "\e825";
}
.icon-snowy5:before {
	content: "\e826";
}
.icon-weather5:before {
	content: "\e827";
}
.icon-cloudy4:before {
	content: "\e828";
}
.icon-lightning5:before {
	content: "\e829";
}
.icon-thermometer:before {
	content: "\e82a";
}
.icon-compass:before {
	content: "\e82b";
}
.icon-none:before {
	content: "\e82c";
}
.icon-Celsius:before {
	content: "\e82d";
}
.icon-Fahrenheit:before {
	content: "\e82e";
}

