<!doctype html>
<html class="no-js" ng-app="gisty">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
    <body>

      <h1>Hello {{"world" + "!"}}</h1>

      <main ng-controller="GistsCtrl">
        <p nf-if="error">{{error}}</p>
        <div ng-if="!error">
          There are no error!
          <input type="text" ng-model="search">
          <p>Searching for : {{search}}</p>

          <ul>
            <li ng-repeat="gist in gists|pager:pagination">  <!-- filter:search -->
              <a href="{{gist.html_url}}">{{gist.id}}</a>
              <!-- <pre>{{gist|json}}</pre> -->
              <pre>{{gist.owner}}</pre>
              <img src="{{gist.owner.avatar_url}}" alt="Alina's big face">
              <!-- <pre> === Use monospace type -->

              <ul>
                <!-- Incomplete code -->
                <li ng-repeat="file in gist.files">{{file.filename}}</li>
              </ul>
            </li>
          </ul>
          <button type="button" ng-click="">Prev</button> <!-- To prev page -->
          <button type="button" ng-click="">Next</button>
        </div>

      </main>

      <script src="js/app.js"></script>

    </body>
</html>
